<%- include('partials/header'); -%>

<h1>Compose</h1>
<!-- <form action="/compose" method="post"> -->
    <!-- <input type="text" name="postTitle" id=""> -->
    <form class="" action="/compose" method="post">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="postTitle" id="" placeholder="">
            <label>Post</label>
            <textarea type="text" class="form-control" name="postBody"id="blog-post" placeholder="" rows="8" ></textarea>
        </div>
        <button type="submit" class="bt n btn-primary">Publish</button>
      </form>
<!-- </form> -->

<%- include('partials/footer'); -%>